<p>Hello <%= @resource.email %>!</p>

<p>パスワードを変更する場合、以下のリンクから変更してください。</p>

<p><%= link_to 'パスワードを変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに見覚えがない場合、無視してください。</p>

