<h1>SPACEとは？</h1>
<p>SPACEは「美容師の働き方に多様性を」をモットーに美容師とサロン様をつなぐお手伝いをします。</p>

<div class = "row">
	<div class ="col-md-4">
		<h3>spaceを使って簡単に見学予約</h3>
	</div>

	<div class ="col-md-4">
		<h3>サロンへ見学・打ち合わせ</h3>
	</div>

	<div class ="col-md-4">
		<h3>契約</h3>
	</div>
</div>
