<div style="width: 100%; margin-bottom: 10px; border: 7px double black; border-radius: 15px; ">
	<div class = "title-top">
		<h1>SPACEとは？</h1>
		<p>「席を借りたいスタイリスト」と「席を貸したいオーナー」をつなぐマッチングサービス です。<br>SPACEは「美容師の働き方に多様性を」をモットーにスタイリストとサロンをつなお手伝いをします。</p>
	</div>

	<div class = "row">
		<div class ="col-lg-2 col-sm-9 col-11 offset-lg-1 offset-sm-3 offset-1">
			<%= image_tag 'about.jpg', class: "about-img" %>
			<h3 class ="about-text">簡単に見学予約</h3>
			<p class = "about-detail">登録から最短1分での見学予約可能。<br>まずは興味のあるサロンへ<br>SPACEで見学予約をしてみよう。</p>
		</div>

		<div class ="col-lg-2 col-sm-9 col-11 offset-lg-2 offset-sm-3 offset-1">
			<%= image_tag 'about2.jpg', class: "about-img" %>
			<h3 class ="about-text">サロンへ見学</h3>
			<p class = "about-detail">予約したサロンへ訪問してみよう。<br>実際にあなたの目で店の雰囲気や立地を確認。<br>条件の詳細も確認しておきましょう。</p>
		</div>

		<div class ="col-lg-2 col-sm-9 col-11 offset-lg-2 offset-sm-3 offset-1">
			<%= image_tag 'about3.jpg', class: "about-img" %>
			<h3 class ="about-text">契約して施術</h3>
			<p class = "about-detail">お気に入りのサロンと契約。<br>契約が完了したら、実際にお客様を招き施術。</p>
		</div>
	</div>
</div>

