<div style="width: 90%; padding: 100px; margin-bottom: 10px; margin-left: 95px; border: 7px double black; border-radius: 15px; ">
	<div class = "row">
		<h1 class = "offset-5">SPACEとは？</h1>
		<p class = "offset-3">「席を借りたいスタイリスト」と「席を貸したいオーナー」をつなぐマッチングサービス です。<br>
　		SPACEは「美容師の働き方に多様性を」をモットーにスタイリストとサロンをつなぐお手伝いをします。</p>
	</div>

	<div class = "row">
		<div class ="col-lg-2 offset-1">
			<%= image_tag 'about.jpg', size: '250x200' %>
			<h3>SPACEで簡単に見学予約</h3>
			<p>登録から最短1分での見学予約可能。<br>まずは興味のあるサロン様へ<br>SPACEで見学予約をしてみよう。</p>
		</div>

		<div class ="col-lg-2 offset-2">
			<%= image_tag 'about2.jpg', size: '250x200' %>
			<h3>サロンへ見学・打ち合わせ</h3>
			<p>予約したサロン様へ訪問してみよう。<br>実際にあなたの目で店の雰囲気や立地を確認。<br>条件の詳細も確認しておきましょう。</p>
		</div>

		<div class ="col-lg-2 offset-2">
			<%= image_tag 'about3.jpg', size: '250x200' %>
			<h3>契約</h3>
			<p>お気に入りのサロン様と契約。<br>実際にお客様を招き施術。</p>
		</div>
	</div>
</div>

