/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";  
 @import "font-awesome";
 @import "tempusdominus-bootstrap-4.css";
 
 
 .bottom{
 	height: 300px;
 	text-align:center;
 	padding-top:140px;
 	background-color: grey;
 	margin-top: 100px;
 }

 .container{
 	margin-right: 300px;
 }

 .nav{
 	margin-right: 10%;
 }

 legend{
 	width: 5%;
 	margin-left: 1px;
 }

 .btn-flat-double-border {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: black;
  border: double 4px black;
  border-radius: 3px;
  transition: .4s;
}
.btn-flat-double-border:hover {
  background: #fffbef;
}



 