/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";  
 @import "font-awesome";
 @import "tempusdominus-bootstrap-4.css";

 .img-content{
  width: 100%;
 }

 .bottom{
 	height: 300px;
 	text-align:center;
 	padding-top:140px;
 	background-color: black;
 	margin-top: 100px;
 }

 .footer-text{
 	color: white;
 }

 legend{
 	width: 5%;
 	margin-left: 1px;
 }

 .btn-flat-double-border {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: black;
  border: double 4px black;
  border-radius: 3px;
  transition: .4s;
}
.btn-flat-double-border:hover {
  background: #DDFFFF;
}

.notice{
	text-align: center;
	color: green;
  font-size: xx-large;
}

.alert{
	text-align: center;
	color: red;
}

.salon-img{
  width: 400px;
  height: 400px;
}

.title-top{
  text-align: center;
  }

.about-img{
  width: 250px;
  height: 200px;
}

.row-action{
  text-align: center;
}

.row-form{
  margin-left: 600px;
}

.salon-show{
  margin-left: 450px;
}

.row-salon-show{
  margin-left: 450px;
}

#map{
  height: 600px;
  width: 50%;
  margin-left: 450px;
}

fieldset{
  width: 90%;
  margin-left: 95px;
}

.reservation-remind{
  margin-left: 550px; 
  color: red;
}

.reservation{
  margin-left: 800px;
}




// 以下からレスポンシブ対応用の記述
// ウィンドウ幅が最大479pxまでの場合に適用(smart phone)
@media screen and (max-width: 479px) {

  .salon-img{
  width: 250px;
  height: 250px;
  }

  .card{
    width: 100%;
  }

  .about-img{
  width: 150px;
  height: 100px;
}
  
  .title-top{
    text-align: center;
    font-size: 20px;
  }

  .about-text{
    font-size: 25px;
  }

  .about-detail{
    font-size: 15px;
  }

  .row-form{
    margin-left: 20px;
  }

  .salon-show{
    margin-left: 30px;
    width: 100%;
  }

  #map{
    margin-left: 0;
    height: 200px;
    width: 100%;
  }

  fieldset{
    width: 100%;
    margin-left: 0;
  }

  legend{
    font-size: 20px;
  }

  .reservation-remind{
  margin-left: 10px; 
  color: red;
  }

  .reservation{
  margin-left: 100px;
  }


}