<p>こんにちは <%= @resource.email %>!</p>

<p>パスワードを変更する場合は、以下のURLより変更してください。</p>

<p><%= link_to "パスワードを変更する", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに見覚えがない場合は、無視してください。</p>
